
Calculator/.vs/Calculator/v16/.suo
Calculator/Calculator.ConsoleApp/obj/Debug/Calculator.ConsoleApp.exe
Calculator/Calculator.ConsoleApp/obj/Debug/Calculator.ConsoleApp.pdb
Calculator/Calculator.ConsoleApp/obj/Debug/Calculator.ConsoleApp.csproj.FileListAbsolute.txt
Calculator/Calculator.ConsoleApp/obj/Debug/Calculator.ConsoleApp.csprojAssemblyReference.cache
Calculator/Calculator.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Calculator/Calculator.ConsoleApp/obj/Debug/Calculator.ConsoleApp.csproj.CoreCompileInputs.cache
